body {
  margin: 0;
  font-size: 12px; font-family: Helvetica, Arial, sans-serif;
  background: #e1e4ed url("../images/bg.png") repeat-x top;
}

ol, ul { list-style: none; margin: 0; padding: 0; }
button { margin: 0; padding: 0; cursor: pointer; border: none; background: transparent; }

.container { margin: 0 auto; width: 1049px; }

header            { height: 150px; text-indent: -10000px; }
header .title     { padding-top: 44px; width: 436px; height: 69px; float: left; }
header .title     { overflow: hidden; background: url("../images/header.title.png") no-repeat bottom; }
header .title h1  { margin: 0px; padding: 0; }
header .badge a   { margin-right: -30px; width: 144px; height: 144px; float: right; }
header .badge a   { overflow: hidden; background: url("../images/header.badge.png") no-repeat bottom; }

h3.pattern-title  { margin: 0 0 32px; height: 13px; overflow: hidden; text-indent: -10000px; }
h3.pattern-title  { background: url("../images/pattern.title.png") no-repeat center; }
p.pattern-desc    { margin: 18px 0 20px; height: 13px; overflow: hidden; text-indent: -10000px; }
p.pattern-desc    { background: url("../images/pattern.desc.png") no-repeat center; }

.pattern .tracks {
  margin: 0 auto;
  padding-bottom: 5px;
  width: 1049px;
  position: relative;
  background: url("../images/pattern.instrument_labels.png") no-repeat left 5px;
}
.pattern .track { white-space: nowrap; }
.pattern .track .step {
  display: inline-block;
  padding: 2px 3px 5px;
}
.pattern .track .step button {
  background: url("../images/pattern.step.png");
  width: 56px;
  height: 57px;
}
.pattern .track .step button:hover {
  background: url("../images/pattern.step.png");
}
.pattern .track .step.active button {
  background: url("../images/pattern.step.active.png");
}
.pattern .track .step.active button:hover {
  background: url("../images/pattern.step.active.png");
}
.pattern .track .step:nth-child(4n) {
  padding-right: 4px;
}
.pattern .track .step:last-child {
  padding-right: 0;
}
.pattern .track > span {
  margin-right: 7px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  text-indent: -10000px;
}

.pattern .highlight {
  position: absolute;
  top: -4px;
  margin-left: 5px;
  height: 255px;
  width: 64px;
  visibility: hidden;
  background: url("../images/pattern.highlight.png");
}


.transport { overflow: hidden; }

.transport .buttons     { margin-right: 70px; width: 200px; height: 50px; float: right; }
.transport .buttons     { background: url("../images/control_buttons.png") no-repeat center top; }
.transport button       { width: 100px; height: 50px; float: left; }
.transport button       { font-weight: bold; text-shadow: 0 1px 0 #fff; }
.transport button:hover { color: black !important; }
.transport button.play  { text-indent: 20px; color: #95979e; }
.transport button.stop  { text-indent: -20px; color: black; }

.transport.playing .buttons { background-position: center -50px; }
.transport.playing button.play { color: black; }
.transport.playing button.stop { color: #95979e; }

.transport .sliders { float: left; font-weight: bold; text-shadow: 0 1px 0 #fff; }
.transport .slider { margin-left: 20px; padding-top: 3px; clear: left; }
.transport .slider .label { padding-top: 2px; width: 70px; float: left; color: #95979e; }
.transport .slider input { width: 185px; float: left; }
.transport .slider .unit { padding-top: 2px; margin-left: 20px; float: left; }